@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes softPulse {
  0% {
    opacity: 0.6;
    text-shadow: 0 0 6px rgba(96,165,250,0.6);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 18px rgba(96,165,250,0.9);
  }
  100% {
    opacity: 0.6;
    text-shadow: 0 0 6px rgba(96,165,250,0.6);
  }
}

.animate-pulse-slow {
  animation: softPulse 2.5s infinite ease-in-out;
}

